body {
    margin: 0;
    padding: 0;
}

.header {
    height: 10vh;
}

.mainContainer {
    background-color: grey;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-content: center;
    height:37rem;
    width: 100%;

        div {
            width: 20%;
            min-width: 175px;
            box-sizing: border-box;
            background-size: cover;
            background-position: center;
        }
}

.one {
    // height: 20%;
    height: 6rem;
    background-image: url("./assets/sedna.jpg");
   

}
.two {
    height:20rem;
    background-image: url("./assets/marzanna.jpg");
   
    
}

.three {
    height:10rem;
    background-image: url("./assets/autumn2.jpg");
    
}

.four {
    height:18.5rem;
    background-image: url("./assets/ixchel.jpg");
    
}

.five {
    height: 18rem;
    background-image: url("./assets/aphrodite.jpg");
    
    
}

.six {
    height: 23rem;
    background-image: url("./assets/freya.jpg");
    
}

.seven {
    height:13.5rem;
    background-image:url("./assets/jiutian.jpg");
    
}

.eight {
    
    height:17rem;
    background-image: url("./assets/anyanwu.jpg");
    
    
}

.nine {
    height:10rem;
    background-image: url("./assets/earth.jpg");

}

.ten {
    height: 9rem;
    background-image: url("./assets/ladyRed.jpg");
}

//

.footer {
    border: solid 1px greenyellow;
}